[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/white"]
	path = themes/white
	url = git@github.com:tomvictor/white.git
